readme.*
!reamde.md
test/
# !utils/test/
# references.bib
tools/

#-- blast dbs and large fastas
data/database/ 
data/sequences/ 
# sequences has proteome and cDNA
data/web_retrieved_sequences


# output/blast
